extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(rel='stylesheet',href='/stylesheets/style.css')
    link(rel='stylesheet',href='/stylesheets/fonts.css')
block body
  div.btm-links
    a(href='/homepagenlLogin')#home
      img(src="http://i.imgur.com/iwDCnm8.png",width = "100")
    // this goes to /homepagenlLogin
    // is homepagel just a test page? the one with all the comic pictures?
  h1  Comic Editor
  body
    .container-fluid 
        .row
            .col-sm-2
                    .panel.panel-success
                        .panel-heading Comic Fields
                        .panel-body
                            form#formSaveProject(name="formSaveProject", method="post", action="/saveProject")
                                textarea#comicTitle(type="text", placeholder="Title",name="comicTitle", style="width:100%;resize:none;height:1%")
                                br
                                textarea#comicDescription(placeholder="Description",name="comicDescription", style="height: 200px;resize: none;width:100%;")
                                br
                                textarea#comicTags(type="text", placeholder="Tags",name="comicTags",style="width:100%;resize:none;height:1%")
                                br
                                input(type="hidden",name="published")
                                input(type="hidden",name="sPanel1")
                                input(type="hidden", name="thumbnail")
                                input(type="hidden", name="editorID")
                    .panel.panel-success
                        .panel-heading Upload Image
                        .panel-body                        
                            input#imgLoader(type="file" accept="image/*")
                    .panel.panel-success
                        .panel-heading Speech Bubble
                        .panel-body                        
                            button#bubbleButton Normal Bubble
                            button#squareButton Square Bubble
                            button#thoughtButton Thought Bubble
                            button#boxButton Text Box
                            textarea#dialogue(placeholder="Speech Bubble Text",style="width:100%;resize:none;height:200")
                            button#textButton Add Text
                            select#styleSelect
                                option(value="Normal") Normal
                                option(value="Bold") Bold
                                option(value="Italic") Italic
                                option(value="BoldItalic") BoldItalic
                            select#fontSelect
                                option(value="ComicSans") Comic Sans
                                option(value="WildWordsRoman") Wild Words Roman
                                //option(value="WildWordsItalic") Wild Words Italic
                                //option(value="WildWordsBoldItalic") Wild Words Bold Italic
                            textarea#colour(placeholder="type in colour and select text", style="width:100%;resize:none;height:200")
                            button#colourButton Set Text Colour
                            button#rmTextButton Remove                            
                            button#forwardButton Bring Forward
                    .panel.panel-success
                        .panel-heading Save or Publish
                        .panel-body
                            button#saveButton Save Comic   
                            button#publishButton Publish Comic                 
            .col-sm-10
                h2 Comic Panels
                        .container
                            style
                            .row
                                .col-lg-12
                                    canvas#panel1(name="panel1", width="1609",height="400",style="border: 3px solid black;")
block scripts
  script(src="https://rawgit.com/kangax/fabric.js/master/dist/fabric.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
  script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js")
   // reference:http://jsfiddle.net/jaibuu/Vp6wa/
  script.
    var loadProject =!{JSON.stringify(loadProject)};
  script(type="text/javascript", src="/modules/Editor.js")
 

    

