doctype html.no-js(lang='en')
head
  // this is me attempting to create a bar on the top of the page for easy navigation everywhere
  extends loginlayout
  block content
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container-fluid
          .top-bar-left
            ul.menu
              li
                input(type='search', placeholder='Search')
              li
                button.button(type='button') Search
          .top-bar-right
            ul.menu
              li
                a(href='/signup') Sign Up
              li
                a(href='/home') Account Profile

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Overpriced Hotdogs
    link(rel='stylesheet', href='http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css')
    link(href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css', rel='stylesheet', type='text/css')
    // logo here
    center
      a(href='/homepagenlLogin')#home
        img(src='http://i.imgur.com/iwDCnm8.png', width="300")
    br
    .title-bar(data-responsive-toggle='main-menu', data-hide-for='medium')
      button.menu-icon(type='button', data-toggle='')
      .title-bar-title Menu
    #main-menu.top-bar
      ul.menu.vertical.medium-horizontal.expanded.medium-text-center(data-responsive-menu='drilldown medium-dropdown')
        li.has-submenu
          a(href='../editor') Make Comic
        li.has-submenu
          a(href='#') Favourites
        li.has-submenu
          a(href='#') Top Comics
        li.has-submenu
          a(href='#') My Comics
    br
    .row
        include PublishedProject     
    footer
      .medium-6.columns
        ul.menu.align-right
          li.menu-text Copyright &copy; OverPricedHotdogs

