doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title OverPricedHotdogs
    link(rel='stylesheet', href='/vendor/bootstrap.min.css')
    link(rel='stylesheet', href='http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css')
    link(href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet',href='/stylesheets/fonts.css')

    .top-bar
      .top-bar-left
        form#search(name="search",method="post",action="/searchComic")
          ul.menu
            li
               input(type="search", placeholder="Search",name="search")
               input(type="hidden",name="sort",value="new")
            li
               button(type="submit", class="button") Search
      .top-bar-right
        ul.menu
          li
            a(href="/home") Account Info
          li
            button#btn-logout.btn.btn-primary
              i.icon-lock.icon-white
              | Sign Out

    a(href=homeURL)
      img.centered(src=banner width="50%" height="50%")

    .title-bar(data-responsive-toggle='main-menu', data-hide-for='medium')
      button.menu-icon(type='button', data-toggle='')
      .title-bar-title Menu
    #main-menu.top-bar
      ul.menu.vertical.medium-horizontal.expanded.medium-text-center(data-responsive-menu='drilldown medium-dropdown')
        li
          a(href='./editor') Make Comic
        li.has-submenu
          a(href='#') My Favourites
        li.has-submenu
          a(href='#') Top Comics
        li.has-submenu
          a(href='#') My Comics

    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js')
    script.
      $(document).foundation();
    br
    .row
        include PublishedProject 

    footer
      .medium-6.columns
        ul.menu.align-right
          li.menu-text Copyright &copy; OverPricedHotdogs

block scripts
    script(src='/vendor/jquery.min.js')
    script(src='/vendor/jquery.form.js')
    script(src='/vendor/bootstrap-modal.js')
    script(src='/vendor/bootstrap-transition.js')
    script(src='/js/views/home.js')
    script(src='/js/controllers/homeController.js')
    script(src='/js/form-validators/accountValidator.js')
