<!doctype html>
// homepage shown after you sign out
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>OverPricedHotdogs</title>
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>

<div class="top-bar">
<div class="top-bar-left">
<ul class="menu">
<li><input type="search" placeholder="Search"></li>
<li><button type="button" class="button">Search</button></li>
</ul>
</div>
<div class="top-bar-right">
<ul class="menu">
<li><a href="/">Sign In</a></li>
<li><a href="/signup">Sign Up</a></li>
</ul>
</div>
</div>


<div class="row">
<div class="medium-4 columns">
<img src="http://i.imgur.com/iwDCnm8.png">
</div>
<div class="medium-8 columns">
<img src="http://images.cooltext.com/4586341.png">
</div>
</div>

<br>
<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
<button class="menu-icon" type="button" data-toggle></button>
<div class="title-bar-title">Menu</div>
</div>
<div class="top-bar" id="main-menu">
<ul class="menu vertical medium-horizontal expanded medium-text-center" data-responsive-menu="drilldown medium-dropdown">
<li class="has-submenu"><a href="#">Make Comic</a>
</li>
<li class="has-submenu"><a href="#">Favourites</a>
</li>
<li class="has-submenu"><a href="#">Top Comics</a>
</li>
<li class="has-submenu"><a href="#">My Comics</a>

</li>
</ul>
</div>
</header>
<br>
<div class="row">
<div class="medium-8 columns">
<p><img src="http://media.salon.com/2014/10/archie_comics.jpg" alt="main comic"></p>
</div>
<div class="medium-4 columns">
<p><img src="https://s-media-cache-ak0.pinimg.com/originals/2c/3f/d5/2c3fd5b729c1ff805637212f284ad29b.jpg" alt="random comic"></p>
<p><img src="http://images1.fanpop.com/images/photos/2500000/Calvin-and-Hobbes-Comic-Strips-calvin-and-hobbes-2509543-600-191.gif" alt="alternate comic"></p>
</div>
</div>
<hr>
<div class="row column">
<h4 style="margin: 0;" class="text-center">Comics</h4>
</div>
<hr>
<div class="row small-up-3 medium-up-4 large-up-5">
<div class="column">
<img src="http://www.myfreewallpapers.net/cartoons/wallpapers/calvin-and-hobbes-friends.jpg" alt="random image">
</div>
<div class="column">
<img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bc/Garfield_the_Cat.svg/1280px-Garfield_the_Cat.svg.png" alt="random image">
</div>
<div class="column">
<img src="http://bloximages.newyork1.vip.townnews.com/stltoday.com/content/tncms/assets/v3/editorial/f/3a/f3a4e3e4-0678-11e2-8f4e-001a4bcf6878/5060ac0426cf9.preview-620.jpg" alt="random image">
</div>
<div class="column show-for-medium">
<img src="https://upload.wikimedia.org/wikipedia/en/4/40/Peanuts_gang.png" alt="random image">
</div>
<div class="column show-for-large">
<img src="http://s3.amazonaws.com/tf-wordpress/wp-content/uploads/2013/01/asterix-and-obelix.jpg" alt="random image">
</div>
</div>

<footer>
<div class="medium-6 columns">
<ul class="menu align-right">
<li class="menu-text">Copyright © OverPricedHotdogs</li>
</ul>
</div>
</div>
</footer>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
$(document).foundation();
</script>
</body>
</html>

block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')