
extends loginlayout
// apparently home is actually the Account Settings page, accessed from clicking account profile
block content
    div.navbar.navbar-fixed-top
        div.navbar-inner
            div.container-fluid
                button#btn-logout.btn.btn-primary
                    i.icon-lock.icon-white
                    | Sign Out

    .container-fluid
        .row
            .col-sm-12
                include account
                // if you want to edit the account settings box, go to account.jade
        .row
            .col-sm-12
                include testProjectList
                
    include modals/alert
    include modals/confirm

block scripts
    script(src='/vendor/jquery.min.js')
    script(src='/vendor/jquery.form.js')
    script(src='/vendor/bootstrap-modal.js')
    script(src='/vendor/bootstrap-transition.js')
    script(src='/js/views/home.js')
    script(src='/js/controllers/homeController.js')
    script(src='/js/form-validators/accountValidator.js')
    script(src="https://rawgit.com/kangax/fabric.js/master/dist/fabric.js")
    script.
        var canvas = new fabric.Canvas('avatar');

        document.getElementById('imgLoader').onchange = function uploadAvatar(e) {
            var reader = new FileReader();
              reader.onload = function (event){
                var imgObj = new Image();
                imgObj.src = event.target.result;
                imgObj.onload = function () {
                  var image = new fabric.Image(imgObj);
                  image.scaleToHeight(canvas.getHeight());
                  canvas.centerObject(image);
                  canvas.add(image);
                  canvas.renderAll();
                }
              }
              reader.readAsDataURL(e.target.files[0]);
            }