
extends loginlayout

block content
	//page at localhost:3000
	//- a#login-button(href="#login-container" position="fixed")
	//- 	.row
	//- 		img(src=logo width = "300" data-bottom-top="opacity:0;" data-center="opacity:1;")
	//- 	center
	//- 		h1 Login!
	#login-container
		form( method="post")#login-form.well.span4
			// .well creates the login box
			// .span<int> changes the width of the beige loginbox
			<center>
			a(href=homeURL)
				img(src=logo width = "300" data-bottom-top="opacity:0;" data-center="opacity:1;")
			h1 Hello!
			p.subheading Please sign in to access comics
			label Username 
			input(type="text", name="user", id='user-tf').span4.required
			label Password
			input(type="password", name="pass", id='pass-tf').span4.required
			button(type="submit")#btn-login.btn.btn-primary
				i.icon-lock.icon-white
				| Sign in
			label#remember-me.checkbox Remember Me
				input(type="checkbox", checked='checked')
			div.clear-fix
			hr
			div.btm-links
				a(href='#')#forgot-password Forgot Your Password?
				a(href='/signup')#create-account Create An Account

	include modals/alert
	include modals/lost-password

block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/js/views/login.js')
	script(src='/js/controllers/loginController.js')
	script(src='/js/form-validators/loginValidator.js')
	script(src='/js/form-validators/emailValidator.js')
	script(src='https://rawgit.com/Prinzhorn/skrollr/master/src/skrollr.js')
	script.
		var s = skrollr.init();