extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet',href='/stylesheets/style.css')
block body
  div.btm-links
    a(href='/homepagenlLogin')#home
      img(src="http://i.imgur.com/iwDCnm8.png",width = "100")
    // this goes to /homepagenlLogin
    // is homepagel just a test page? the one with all the comic pictures?
  h1  
  body
    .container-fluid 
        .row
            .col-sm-3
               textarea#comicTitle(type="text",name="comicTitle", style="width:100%;resize:none;height:70px;border:0px;font-size:50px", readOnly = true)
               .panel-group
                    .panel.panel-primary
                        .panel-heading
                            h4.panel-title
                                a(data-toggle='collapse', href='#collapse1') Description
                        #collapse1.panel-collapse.collapse
                            .panel-body
                                textarea#comicDescription(type="text",name="comicDescription", style="width:100%;resize:none;border:0px", readOnly = true)
                    .panel.panel-primary
                        .panel-heading
                            h4.panel-title
                                a(data-toggle='collapse', href='#collapse2') Tags
                        #collapse2.panel-collapse.collapse
                            .panel-body
                                textarea#comicTags(type="text",name="comicTags", style="width:100%;resize:none;border:0px", readOnly = true)                                        
        .row
            .col-sm-12
                h2 
                        .container
                            style
                            .row
                                .col-lg-12
                                    canvas#panel1(name="panel1", width="1609",height="400",style="border: 3px solid black;")
        .row
            .col-sm-12
                h2 Comment
                h4 
                    form#newComment(name="formNewComment", method="post", action="/newComment")
                        textarea#comment(type="text",placeholder="New Comment",style="resize:none",name="comment")
                        input(type="hidden", name="commentUserID")
                        br
                        input(type="submit", value="Comment")
block scripts
  script(src="https://rawgit.com/kangax/fabric.js/master/dist/fabric.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
  script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js")
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
   // reference:http://jsfiddle.net/jaibuu/Vp6wa/
  script.
    var loadProject =!{JSON.stringify(loadProject)};
  script(type="text/javascript").
    window.onload = function(){
        console.log("Hi Loading");
        if (loadProject == null){
            console.log("nothing");
        } else {
            var title = loadProject[0].title;
            var description = loadProject[0].description;
            var tags = loadProject[0].tags;
            var author = loadProject[0].author;
            var img = loadProject[0].thumbnail;
            console.log(title);
            $('#comicTitle').val(title);
            $('#comicDescription').val(description);
            $('#comicTags').val(tags);
            var canvas1 = new fabric.Canvas(panel1);
            fabric.Image.fromURL(img, function(obj){
                canvas1.add(obj);
                obj.selectable = false;
            })
        }
    };  

    

    

