body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

@media (min-width: 1200px) {
  .container {
    width: 1600px;
    padding-left: 1px;
    padding-right:1px;
  }
}