body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#page {
    width: 100%
}
#maincontent {
    float: left;
    width: 75%;
    background-color: #F0F0F0;
}
#menuleftcontent{
    float: left;
    width: 25%;
    background-color: #CCCCCC;
}
#clearingdiv {
    clear: both;
}