
extends loginlayout

block content
	div.navbar.navbar-fixed-top
				<div class="top-bar">
				<div class="top-bar-left">
				<ul class="menu">
				<li><input type="search" placeholder="Search"></li>
				<li><button type="button" class="button">Search</button></li>
				</ul>
				</div>
				<div class="top-bar-right">
				<ul class="menu">
				<li><a href="/home">Account Info</a></li>
				<li><a href="/home">Account Info</a></li>
				<li>
				button#btn-logout.btn.btn-primary
					i.icon-lock.icon-white
					| Sign Out
				</li>
				</ul>
				</div>
				</div>


	include homepagenl

block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')

